section.process
    .container 
        .dividers
        h2.process__title Процесс выполнения монтажа
        ol.process__items 
            li.process__item #[span Рассчёт предварительной заявки]
            li.process__item #[span Замер объекта нашим инженером]
            li.process__item #[span Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы]
            li.process__item #[span Изготовление Дымохода, покраска (если требуется)]
            li.process__item #[span Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация]
            li.process__item #[span Гарантийное обслуживание по соответствующем сроку]