section.subheader
    .container
        h1.subheader__title Монтаж дымоходов
        .subheader__wrapper 
            .subheader__divider 
            .subheader__link
                a(href="#")
                    span Главная
                .subheader__link-divider >
                a(href="#") Монтаж дымоходов
            .subheader__divider