extends ../layouts/default

block variables

block content
  include ../../components/subheader/subheader
  include ../../components/promo/promo
  include ../../components/process/process
  include ../../components/privilege/privilege
  include ../../components/form/form
  include ../../components/component_video/component_video
  include ../../components/photo/photo

  
