section.promo 
    .container 
        .promo__text В #[span Дымоход.ру] вам помогут как приобрести, так и установить дымоход любой конфигурации. В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и аккуратно, в короткий срок и на совесть .
        .promo__wrapper
            .promo__wrapper-descr 
                h2.promo__title Lorem ipsum dolor sit amet #[br] #[span Lorem ipsum]
                ul.promo__items 
                    li.promo__item #[span Доступные цены]
                    li.promo__item #[span Собственное производсвто  Дымоходов]
                    li.promo__item #[span Выполнение необходимых работ, связанных с установкой камина, печи, котла]
                    li.promo__item #[span Гарантия (от трёх до десяти лет)]
                    li.promo__item #[span Работаем чисто, аккуратно, убираем за собой, не сквернословим]
                    li.promo__item #[span Только русские квалифицированные специалисты]
                    li.promo__item #[span Устанавливаем любые дымоходы всех производителей]
            .promo__img 
                img(src="../../assets/images/promo_img.png" alt="dimohod")












