.social__wrapper 
    img(src="../../assets/images/vk.svg")
    img(src="../../assets/images/telegram.svg")
    img(src="../../assets/images/instagram.svg")
    img(src="../../assets/images/whatsapp.svg")