section.photo
    .container 
        .dividers
        h2.photo__title Фото выполненных работ
        .photo__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .photo__wrapper 
            .photo__img 
                img(src="../../assets/images/photo_one.jpg" alt="tube")
                .photo__border
            .photo__img 
                img(src="../../assets/images/photo_two.jpg" alt="tube")
                .photo__border
            .photo__img 
                img(src="../../assets/images/photo_three.jpg" alt="tube")
                .photo__border
            .photo__img 
                img(src="../../assets/images/photo_four.jpg" alt="tube")
                .photo__border
            .photo__img 
                img(src="../../assets/images/photo_five.jpg" alt="tube")
                .photo__border
            .photo__img 
                img(src="../../assets/images/photo_six.jpg" alt="tube")
                .photo__border
            .photo__img 
                img(src="../../assets/images/photo_seven.jpg" alt="tube")
                .photo__border
            .photo__img 
                img(src="../../assets/images/photo_eight.jpg" alt="tube")
                .photo__border
